.icons-container {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  width: 100vw;
  background-color: #2e282d;
  color: #fff;
}

.icons-container a {
  color: #b0aeb0 !important;
}

.icons-container .description {
  color: #b0aeb0 !important;
}

.link:hover {
  color: #52cdde !important;
}

.icons-container img {
  height: 5rem !important;
  width: 5rem !important;
  margin-bottom: 10px;
}

.icons-container .title {
  color: #fff;
}
